BASESCAN_API_KEY=value-to-be-set
PRIVATE_KEY=value-to-be-set
BASE_RPC_URL=value-to-be-set
# ========== IPFS PIN SETTINGS ==========
FILEBASE_BUCKET=value-to-be-set
FILEBASE_BUCKET_KEY=value-to-be-set
FILEBASE_ROOT_KEY=value-to-be-set
FILEBASE_ROOT_SECRET=value-to-be-set
FILEBASE_ENDPOINT=value-to-be-set